body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
}
#header {
  height: 69px;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header img {
  padding-left: 10px;
  height: 50px;
  display: flex;
}
#header nav {
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header span {
  display: flex;
}
#header a {
  margin-left: 25px;
  color: seashell;
  text-decoration: underline;
  display: flex;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#our-mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
}
#our-mission-text {
  width: 1200px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#tea {
  width: 1000px;
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
}
#row1, #row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#tea img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
#tea1, #tea2, #tea3, #tea4, #tea5 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#location {
  height: 500px;
  width: 1200px;
  position: relative;
  top: 70px;
  background-image: url("../images/locations-background.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#location h2 {
  margin-bottom: 15px;
}
.boxes {
  width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#downtown {
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}
#bayside {
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#oakdale {
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
